*{
  margin: 0;
  padding: auto;
}

.main-img{
  position: absolute;
  top:0px;
  bottom: auto;
  place-items:center;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  width: 300px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  overflow: hidden;
}