*{
  margin: 0;
  padding: auto;
}

.main-img{
  position: absolute;
  top: 119px;
  bottom: auto;
  place-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 308px;
  height: 281px;
  overflow: hidden;
}